// About
section#about.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase About
            h3.section-subheading.text-muted Who is this guy, anyway?
        ul.timeline
            li
                .timeline-image
                    img.rounded-circle.img-fluid(src='assets/img/about/upenn.jpg', alt='College')
                .timeline-panel
                    .timeline-heading
                        h4 1998 - 2002
                        h4.subheading Humble Beginnings
                    .timeline-body
                        p.text-muted
                            | Attended college at the University of Pennsylvania in Philadelphia.  Finished with triple Bachelor of Science degrees in Finance (Wharton), Computer Science (Engineering) and Mathematics (College).
            li.timeline-inverted
                .timeline-image
                    img.rounded-circle.img-fluid(src='assets/img/about/bloomberg.jpg', alt='Bloomberg')
                .timeline-panel
                    .timeline-heading
                        h4 September 2006
                        h4.subheading Bloomberg
                    .timeline-body
                        p.text-muted
                            | After a short gig at a web startup in Washington DC, I joined Bloomberg LP as a Financial Software Developer.  This is where I currently work, as a Technical Lead in Equity Derivatives.
            li
                .timeline-image
                    img.rounded-circle.img-fluid(src='assets/img/about/nyu.jpg', alt='New York University')
                .timeline-panel
                    .timeline-heading
                        h4 May 2010
                        h4.subheading Masters from NYU
                    .timeline-body
                        p.text-muted
                            | While working at Bloomberg I attended NYU's Courant Institute, earning a Master of Science degree in Financial Mathematics.  This program is the de facto #1 quant school in America.
            li.timeline-inverted
                .timeline-image
                    img.rounded-circle.img-fluid(src='assets/img/about/soccer.jpg', alt='Soccer')
                .timeline-panel
                    .timeline-heading
                        h4 2010 - Present
                        h4.subheading Soccer
                    .timeline-body
                        p.text-muted
                            | One of my biggest passions in life is soccer.  Not only do I captain and coach teams in New York City, but also have won several cups while making lifetime lasting friendships.
            li.timeline-inverted
                a.timeline-image(href='assets/resume.pdf')
                    h4
                        | See
                        br
                        | Full
                        br
                        | Resume!
