// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-start
                | &copy; 
                script document.write(new Date().getFullYear())
                | Peter Szocs
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='https://github.com/pitanyc', aria-label='GitHub', target='_blank')
                    i.fab.fa-github
                a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/szocspeter', aria-label='LinkedIn', target='_blank')
                    i.fab.fa-linkedin-in
                a.btn.btn-dark.btn-social.mx-2(href='https://x.com/pitanyc', aria-label='X', target='_blank')
                    i.fab.fa-x-twitter
                a.btn.btn-dark.btn-social.mx-2(href='https://medium.com/@pitanyc', aria-label='Medium', target='_blank')
                    i.fab.fa-medium
