// Header
header.masthead
    .profile-image
        img.rounded-circle.img-fluid(src='assets/img/header/little_pete.jpg', alt='Circa 7 years old.')
    .container
        .masthead-subheading Welcome!
        .masthead-heading.text-uppercase It's Nice To Meet You
        a.btn.btn-primary.btn-xl.text-uppercase(href='#about') About Me
