// Music
section#music.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Services
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                h4.my-3 E-Commerce
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-laptop.fa-stack-1x.fa-inverse
                h4.my-3 Responsive Design
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-lock.fa-stack-1x.fa-inverse
                h4.my-3 Web Security
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.