// Music
section#music.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Music
            h3.section-subheading.text-muted Come taste the Caribbean.
        #youtube.row.text-center
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/tN0NP9O0ywk' loading='lazy' title='Kes - Million' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Kes
                    p.text-muted.fst-italic Million
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/XTsx3aoq_yY' loading='lazy' title='King Bubba - Who drinking rum' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 King Bubba
                    p.text-muted.fst-italic Who drinking rum
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/VM5T3JsGgQ0' loading='lazy' title='Skinny Fabulous - BTW' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Skinny Fabulous
                    p.text-muted.fst-italic BTW
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/ajnDDneepjI' loading='lazy' title='Patrice Roberts x Machel Montano - Like Yuh Self' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Patrice Roberts x Machel Montano
                    p.text-muted.fst-italic Like Yuh Self
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/RV1riJsShjU' loading='lazy' title='Leadpipe x Jus-Jay - Sometime' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Leadpipe x Jus-Jay
                    p.text-muted.fst-italic Sometime
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/rJwEphsNVH8' loading='lazy' title='Shenseea - Hit & Run' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Shenseea
                    p.text-muted.fst-italic Hit & Run
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/o7XwqWdLvlE' loading='lazy' title='Vershon - Wet' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Vershon
                    p.text-muted.fst-italic Wet
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/_I-wmfUrRFA' loading='lazy' title='Konshens - Beautiful' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Konshens
                    p.text-muted.fst-italic Beautiful
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/ceCGIk6tAxY' loading='lazy' title='Navino - Chillin Time' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Navino
                    p.text-muted.fst-italic Chillin' Time
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/d9pKaHzwZs0' loading='lazy' title='Christopher Martin - Can\'t Dweet Again' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Christopher Martin
                    p.text-muted.fst-italic Can't Dweet Again
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/vl68eIaap0E' loading='lazy' title='Koffee - W' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Koffee
                    p.text-muted.fst-italic W
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/M08zTfR4taQ' loading='lazy' title='Kranium - Gal Policy' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Kranium
                    p.text-muted.fst-italic Gal Policy
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/YwxAUSHC34o' loading='lazy' title='Vybz Kartel - Try Dat' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Vybz Kartel
                    p.text-muted.fst-italic Try Dat
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/FjMyPvlK6Zg' loading='lazy' title='Dexta Daps - Call Me If' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Dexta Daps
                    p.text-muted.fst-italic Call Me If
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/MjUIJwxiMJg' loading='lazy' title='Kes - Fallin' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Kes
                    p.text-muted.fst-italic Fallin
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/rV6Fkvd7Tyw' loading='lazy' title='Various - 10x Over' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic 10x Over
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/tBLH_KpQh94' loading='lazy' title='Various - Drip Drip' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic Drip Drip
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    iframe(src='https://www.youtube.com/embed/GsFodLrvqbk' loading='lazy' title='Various - The Fete Life' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic The Fete Life
