// Music
section#music.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Music
            h3.section-subheading.text-muted Enjoy this sample of tracks.
        #youtube.row.text-center
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/ceCGIk6tAxY')
                .portfolio-caption
                    h4 Navino
                    p.text-muted Chillin' Time
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-laptop.fa-stack-1x.fa-inverse
                h4.my-3 Responsive Design
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-lock.fa-stack-1x.fa-inverse
                h4.my-3 Web Security
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.