// Music
section#music.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Music
            h3.section-subheading.text-muted Come taste the Caribbean.
        #youtube.row.text-center
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/tN0NP9O0ywk')
                .portfolio-caption
                    h4 Kes
                    p.text-muted.fst-italic Million
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/XTsx3aoq_yY')
                .portfolio-caption
                    h4 King Bubba
                    p.text-muted.fst-italic Who drinking rum
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/VM5T3JsGgQ0')
                .portfolio-caption
                    h4 Skinny Fabulous
                    p.text-muted.fst-italic BTW
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/ajnDDneepjI')
                .portfolio-caption
                    h4 Patrice Roberts x Machel Montano
                    p.text-muted.fst-italic Like Yuh Self
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/RV1riJsShjU')
                .portfolio-caption
                    h4 Leadpipe x Jus-Jay
                    p.text-muted.fst-italic Sometime
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/EJyNj8EJWj8')
                .portfolio-caption
                    h4 Lil Rick
                    p.text-muted.fst-italic Blessing
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/o7XwqWdLvlE')
                .portfolio-caption
                    h4 Vershon
                    p.text-muted.fst-italic Wet
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/_I-wmfUrRFA')
                .portfolio-caption
                    h4 Konshens
                    p.text-muted.fst-italic Beautiful
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/ceCGIk6tAxY')
                .portfolio-caption
                    h4 Navino
                    p.text-muted.fst-italic Chillin' Time
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/d9pKaHzwZs0')
                .portfolio-caption
                    h4 Christopher Martin
                    p.text-muted.fst-italic Can't Dweet Again
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/vl68eIaap0E')
                .portfolio-caption
                    h4 Koffee
                    p.text-muted.fst-italic W
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/M08zTfR4taQ')
                .portfolio-caption
                    h4 Kranium
                    p.text-muted.fst-italic Gal Policy
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/YwxAUSHC34o')
                .portfolio-caption
                    h4 Vybz Kartel
                    p.text-muted.fst-italic Try Dat
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/FjMyPvlK6Zg')
                .portfolio-caption
                    h4 Dexta Daps
                    p.text-muted.fst-italic Call Me If
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/EQw4t_c5x98')
                .portfolio-caption
                    h4 Byron Messia
                    p.text-muted.fst-italic Talibans
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/rV6Fkvd7Tyw')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic 10x Over
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/tBLH_KpQh94')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic Drip Drip
            .col-md-4.col-sm-6.portfolio-item
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/GsFodLrvqbk')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic The Fete Life
