// Portfolio
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Portfolio
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            .col-lg-4.col-sm-6.mb-4
                // Portfolio item 1
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/1.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Threads
                        .portfolio-caption-subheading.text-muted Illustration
            .col-lg-4.col-sm-6.mb-4
                // Portfolio item 2
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/2.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Explore
                        .portfolio-caption-subheading.text-muted Graphic Design
            .col-lg-4.col-sm-6.mb-4
                // Portfolio item 3
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Finish
                        .portfolio-caption-subheading.text-muted Identity
            .col-lg-4.col-sm-6.mb-4.mb-lg-0
                // Portfolio item 4
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/4.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Lines
                        .portfolio-caption-subheading.text-muted Branding
            .col-lg-4.col-sm-6.mb-4.mb-sm-0
                // Portfolio item 5
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/5.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Southwest
                        .portfolio-caption-subheading.text-muted Website Design
            .col-lg-4.col-sm-6
                // Portfolio item 6
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/6.jpg', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Window
                        .portfolio-caption-subheading.text-muted Photography

// Portfolio Modals
include portfolio-modal-1
include portfolio-modal-2
//- include includes/portfolio-modal-3
//- include includes/portfolio-modal-4
//- include includes/portfolio-modal-5
//- include includes/portfolio-modal-6