// Portfolio
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Portfolio
            h3.section-subheading.text-muted Explore some my work on GitHub.
        .row
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // animated-header
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalAnimatedHeader')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482750/60ff08a0-4b65-11e5-9486-cbb126e0cf63.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Animated Header
                        .portfolio-caption-subheading.text-muted Responsive on-scroll header component
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // cairo-chat
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalChat')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482758/7ba4804a-4b65-11e5-81cf-ee29039efc39.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Chat
                        .portfolio-caption-subheading.text-muted Feature rich chat application
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // desktop
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalDesktop')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482793/ea006194-4b65-11e5-827f-4d84f4fadf90.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Desktop
                        .portfolio-caption-subheading.text-muted Full blown Chromebook application
            .col-lg-4.col-sm-6.mb-4.mb-lg-0.portfolio-item
                // peterszocs.com
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalPeterSzocs')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482803/ff5eec22-4b65-11e5-9cbb-4772d24dec08.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Personal Website
                        .portfolio-caption-subheading.text-muted Single page application
            .col-lg-4.col-sm-6.mb-4.mb-sm-0.portfolio-item
                // old.peterszocs.com
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalOldPeterSzocs')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482823/3232ddd4-4b66-11e5-8f16-fb80074c4df1.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Old Personal Website
                        .portfolio-caption-subheading.text-muted Brazil themed website
            .col-lg-4.col-sm-6.portfolio-item
                // tech-hub
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalTechHub')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='https://cloud.githubusercontent.com/assets/12737838/9482818/1e210852-4b66-11e5-8652-3ae635682e67.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Tech Hub
                        .portfolio-caption-subheading.text-muted Issue tracking system

// Portfolio Modals
include modals/portfolio-modal-animated-header
include modals/portfolio-modal-chat
include modals/portfolio-modal-desktop
include modals/portfolio-modal-old-peterszocs
include modals/portfolio-modal-peterszocs
include modals/portfolio-modal-tech-hub
