// Portfolio
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Portfolio
            h3.section-subheading.text-muted Explore some of my work on GitHub.
        .row
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // animated-header
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalAnimatedHeader')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/animated-header.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/animated-header-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Animated Header
                        .portfolio-caption-subheading.text-muted Responsive on-scroll header component
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // cairo-chat
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalChat')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/chat.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/chat-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Chat
                        .portfolio-caption-subheading.text-muted Feature rich chat application
            .col-lg-4.col-sm-6.mb-5.portfolio-item
                // desktop
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalDesktop')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/desktop.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/desktop-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Desktop
                        .portfolio-caption-subheading.text-muted Full blown Chromebook application
            .col-lg-4.col-sm-6.mb-4.mb-lg-0.portfolio-item
                // peterszocs.com
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalPeterSzocs')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/peterszocs.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/peterszocs-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Personal Website
                        .portfolio-caption-subheading.text-muted Single page application
            .col-lg-4.col-sm-6.mb-4.mb-sm-0.portfolio-item
                // old.peterszocs.com
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalOldPeterSzocs')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/old-peterszocs.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/old-peterszocs-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Old Personal Website
                        .portfolio-caption-subheading.text-muted Brazil themed website
            .col-lg-4.col-sm-6.portfolio-item
                // tech-hub
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModalTechHub')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        picture
                            source(srcset='assets/img/portfolio/tech-hub.webp', type='image/webp')
                            img.img-fluid(src='assets/img/portfolio/tech-hub-opt.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Tech Hub
                        .portfolio-caption-subheading.text-muted Issue tracking system

// Portfolio Modals
include modals/portfolio-modal-animated-header
include modals/portfolio-modal-chat
include modals/portfolio-modal-desktop
include modals/portfolio-modal-old-peterszocs
include modals/portfolio-modal-peterszocs
include modals/portfolio-modal-tech-hub
