doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Peter Szocs | Homepage')
        meta(name='author', content='Peter Szocs')

        // Open Graph / Facebook
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://www.peterszocs.com/')
        meta(property='og:title', content='Peter Szocs | Engineering Manager')
        meta(property='og:description', content='Silicon Valley Engineering Manager with expertise in Financial Technology. UPenn + NYU Courant graduate.')
        meta(property='og:image', content='https://www.peterszocs.com/assets/img/header/headshot.jpg')

        // Twitter
        meta(property='twitter:card', content='summary_large_image')
        meta(property='twitter:url', content='https://www.peterszocs.com/')
        meta(property='twitter:title', content='Peter Szocs | Engineering Manager')
        meta(property='twitter:description', content='Silicon Valley Engineering Manager with expertise in Financial Technology. UPenn + NYU Courant graduate.')
        meta(property='twitter:image', content='https://www.peterszocs.com/assets/img/header/headshot.jpg')

        title Peter Szocs

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.5.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Includes
        include includes/nav
        include includes/header
        include includes/about
        include includes/portfolio
        include includes/music
        include includes/contact
        include includes/footer

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')